
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(73, 37, 4);
  padding: 0px;
  border-radius: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  background-color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  justify-content: right;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-button:hover {
  background-color: rgb(73, 37, 4);
  color:white;
}

body {
  background-color: rgb(73, 37, 4);
  color: white;
  font-family: "Montserrat", sans-serif;
}


a{
  color:white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


